@import '@fontsource/lexend';

.cookieBanner {
  background-color: white;
  font-family: var(--font-mono);
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: sticky;
  width: 100vw;
  transition: all 0.5s;
  z-index: 0;

  .button {
    font-family: var(--font-mono);
    gap: 2rem;
  }

  &.closed {
    opacity: 1;
    pointer-events: none;
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.button:hover {
  background-color: rgb(0, 31, 57);
  color: white;
}
