@import '@fontsource/lexend';

.sectionContainer {
  margin-left: auto;
  margin-right: auto;
  padding: 40;
  text-align: left;
  width: 1140px;
  font-family: var(--font-mono);
  @media (max-width: 600px) {
    padding: 20px;
  }
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin: 35px;
  @media (max-width: 600px) {
    display: flex;
    gap: 20px;
    margin: 15px;
    width: 50%;
  }
}

.productItem {
  flex: auto;
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    display: block;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

.headline {
  margin: 10px auto;
  text-align: start;
}

.productImage {
  width: 399;
  height: 394;
  margin-right: 20px;
  position: inherit;

  @media (max-width: 600px) {
    position: auto;
    width: auto;
    margin-right: 0;
  }
}

.productDetails {
  font-family: var(--font-mono);
  @media (max-width: 600px) {
    width: 30em;
  }
}
